.App {
  text-align: center;
}

.alert{
  font-size: 20px;
  font-weight: 800;
}

.alert-success{
  color: rgb(107, 175, 6);

}

.alert-danger{
    color: red;
}

.alert-warning{
  color: rgb(255, 183, 0);
}